
/* FONDO DE PROGRESSIONN */
.fondo-card {
background-image: url(`../imagenes/descarga1.png`);
background-repeat: no-repeat;
background-position: 85% top;
}


            /* Div visuales momentaneos 400px */
  .tamaño {
        height: 400px;
 }
    
 /* <!-- ========================================  CARROUSEL ================================= -- */

.carousel-inner {
max-height: 39rem;;
}


 /* <!-- ========================================  PROGRESSION ================================= -- */
@media (max-width: 400px) {
  .icono-wrap {
    flex: wrap;
  }
}

 /* <!-- ========================================  IMAGEN d FONDO  ================================= -- */
.conten:before {
    content:"";
    width: 100%;
    background-color: red;
    height: 100%;
    opacity: 0.5;
 position: absolute;
}


 .barra-whey {
     background-image: url"(..\imagenes\barrawhey.jpg)";
 }

 /* <!-- ========================================  Media QUERY PRUEBAS ================================= -- */

 /* YES TITLE HERE - 0 a 391 muestra esto */
@media (max-width: 391px) {
.no-display {
  display: none;
}
}
 /* YES TITLE HERE - < a 391 muestra esto */

@media (min-width: 391px) {
.no-display2 {
  display: none;
}
}

