
            /* Div visuales momentaneos 400px */
  .tamaño {
        height: 400px;
 }


 .hover {
   cursor: pointer;
 }

 .banner-text {
   transform: translate(-30%, -80%);
 }

 .fondo-card {
background-image: url('../FacuLemos/imagenes/fondo-card.jpg');  
background-repeat: no-repeat;
background-position: 85% top;
 }

 .progresion {
 }

 /* <!-- ========================================  MEDIA QUERY ================================= -- */

 /* Barra whey */
 @media (max-width: 600px) {
.mq-whey {
  margin-top: 20px;
  padding-right: 0px;
}
  
/* carrousel */
.carousel-inner {
max-height: 39rem;;
}



 /* <!-- ========================================  IMAGEN d FONDO  ================================= -- */
.conten:before {
    content:"";
    width: 100%;
    background-color: red;
    height: 100%;
    opacity: 0.5;
 position: absolute;
}


